<div id="status"></div>
<section id="home-header">
    <div class="container">
       <div class="right">
        <%= link_to "Johnnsonkp", root_path, class:"hero-text", method: :get %>
       </div>


        <!--hamburger menu -->
        <div id="hamburger-menu">
            <nav class="right">

                <i class="menu-logo fas fa-bars fa-2x"></i>
             


                    <ul id="mainMenu">
                        <%begin %> 
                        <%# <li><%= link_to "Home", "#home-index", class:"menu-li home-li current", method: :get, data: { controller: "scroll-to" }</li>  %>
                        <%end %>

                        <li><a class= "menu-li home-li current" href="#home-index">Home</li> 

                        <%begin %>
                        <%# <li><%= link_to "Portfolio", '#home-projects', class:"menu-li portfolio not-current", method: :get, data: { controller: "scroll-to" } %></li>
                        <% end %>

                        <li><a class="menu-li portfolio not-current" href="#home-projects">Portfolio</a></li>

                        <%begin %>
                        <%# <li><%= link_to "About", '#home-about', class:"menu-li about not-current", method: :get, data: { controller: "scroll-to" }%></li>
                        <% end %>

                        <li><a class="menu-li about not-current" href="#home-about">About</a></li>

                        <%begin %>
                        <%# <li><%= link_to "Contact", '#home-contact', class:"menu-li contact not-current", method: :get, data: { controller: "scroll-to" }%></li>
                        <% end %>

                        <li><a class="menu-li contact not-current" href="#home-contact">Contact</a></li>
                    </ul> 

                    <div class="far-right">
                        <%# <div class="social-links"> %>
                            <div class="linkedin">
                                <a class="social-links" href="https://www.linkedin.com/in/chinonso-john-nkpolukwu-521201138/"><i class="fab fa-linkedin-in fa-1x"></i></a>
                            </div>
                            <div class="instagram">
                                <a class="social-links" href="https://www.instagram.com/johnnsonkp/"><i class="fab fa-instagram fa-1x"></i></a>
                            </div>
                            <div class="codepen">
                                <a class="social-links" href="https://codepen.io/Johnnsonkp"><i class="fab fa-codepen fa-1x"></i></a>
                            </div>
                            <div class="github">
                                <a class="social-links" href="https://github.com/Johnnsonkp"><i class="fab fa-github fa-1x"></i></a>
                            </div>
                        <%# </div> %>

                        <%= link_to 'Resume', asset_path("resume.pdf"), { :class=>"resume-button" }%>
                            <%# asset_path("resume.pdf"), { :class=>"resume-button"  %>
                    </div>
            </nav>
        </div>
    </div>

</section>



